{% extends "base.html" %}


{% block body%}
 <header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">

                <p class="fs-4">
                 If you want to reach me you can contact me at
                </p>

                <a class="icon-link" href="https://github.com/labr1younes">
                        <i class="fa-brands fa-square-github fa-5x fa-black" style="color: #212529;"></i>
                    </a>

                    <a class="icon-link" href="https://www.linkedin.com/in/labri-ahmed-younes">
                        <i class="fa-brands fa-linkedin fa-5x" style="color: #212529;"></i>
                    </a>

                    <a class="icon-link" href="mailto: labriahmedyounes@gmail.com">
                        <i class="fa-solid fa-square-envelope fa-5x" style="color: #212529;"></i>
                    </a>


            </div>
        </div>
    </div>
</header>
{% endblock %}
