{% extends "base.html"%}

{% block body%}
<div class="container px-lg-5 py-5 text-center">
    <div class="row ">
            <form class="row g-3 justify-content-center" action = "/extract_text" method = "POST" enctype = "multipart/form-data">
                
                <div class="col-auto">
                    <input class="form-control "type = "file" name = "file" />
                </div>
                
                <div class="col-auto">
                    <select name ="lang" class="form-select" aria-label="Default select example">
                        <option value="ara">Arabic</option>
                        <option value="eng">English</option>
                      </select>
                </div>
                
                <div class="col-auto">
                    <button class="btn btn-primary " type = "submit">upload</button>
                </div>
                   
            </form>
    </div>

    <div class="row mb-5">

        <div class="col-lg ">
            <H1>Original image </H1>
            <img src="{{ orgnl_image_path }}" class="border border-dark rounded" alt=""  style="width: 75%; height: 75%"> 
        </div>

        <div class="col-lg ">
            <h1>Extracted Text</h1>
            <textarea class="form-control border border-dark rounded" cols="30" rows="10">{{ extrt_txt }}</textarea>
        </div>
        
    </div>
</div>
{% endblock %}
