{% extends "base.html" %}

{% block body%}
 <!-- Header-->
 <header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">ImaGee</h1>
                <p class="fs-4">
                    Welcome to our ImaGee We offer a variety of tools and services to help you enhance, manipulate, and analyze your images.
                </p>

            </div>
        </div>
    </div>
</header>

<section class="pt-4">
    <div class="container px-lg-5">

        <!-- Page Features-->
        <div class="row gx-lg-5">
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                        <h2 class="fs-4 fw-bold">B&W Conversion</h2>
                        <p class="mb-0">Easily convert image to black and white.</p>
                        <a class="btn btn-primary btn-lg" href="/to_Black_White" >Convert</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cloud-download"></i></div>
                        <h2 class="fs-4 fw-bold">Text Extraction</h2>
                        <p class="mb-0">Easily extract Arabic or English text from images.</p>
                        <a class="btn btn-primary btn-lg" href="/extract_text">Extract</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cloud-download"></i></div>
                        <h2 class="fs-4 fw-bold">Image Enhancement</h2>
                        <p class="mb-0">Easily enhance Image quality</p>
                        <a class="btn btn-primary btn-lg" href="">Enhance</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

